In [33]:
import numpy as np
import pandas as pd

In [34]:
file_path="../data/raw/online_retail.xlsx"
df_2009=pd.read_excel(file_path,sheet_name="Year 2009-2010")
df_2010=pd.read_excel(file_path,sheet_name="Year 2010-2011")
df=pd.concat([df_2009,df_2010],ignore_index=True)
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [36]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [37]:
df = df.rename(columns={
    'Invoice': 'InvoiceNo',
    'Price': 'UnitPrice',
    'Customer ID': 'CustomerID'
})

In [38]:
#Create Revenue
df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [39]:
df = df.dropna(subset=['CustomerID'])
df['CustomerID'] = df['CustomerID'].astype(int)

In [40]:
df.iloc[1500]

InvoiceNo                              489572
StockCode                              84985B
Description    SET OF 72 BLACK PAPER DOILIES
Quantity                                    2
InvoiceDate               2009-12-01 13:29:00
UnitPrice                                1.45
CustomerID                              17611
Country                        United Kingdom
Revenue                                   2.9
Name: 1561, dtype: object

In [41]:
df= df[
    (df['Quantity'] > 0) &
    (df['UnitPrice'] > 0)
]

In [42]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int32
Country                object
Revenue               float64
dtype: object

In [43]:
df['InvoiceNo'] = df['InvoiceNo'].astype(str)

In [44]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int32
Country                object
Revenue               float64
dtype: object

In [45]:
df.to_csv("../data/processed/retail_cleaned.csv", index=False)